.navbar33-wrapper {
  display: contents;
}
 
.navbar33-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar33-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
 
.navbar33-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar33-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navbar33-navlink1 {
  display: contents;
}
 
.navbar33-icon12 {
  text-decoration: none;
}
 
.navbar33-navlink2 {
  display: contents;
}
 
.navbar33-icon16 {
  text-decoration: none;
}
 
.navbar33-navlink3 {
  display: contents;
}
 
.navbar33-icon24 {
  text-decoration: none;
}
 
.navbar33-icon-group1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
 
.navbar33-link6 {
  display: contents;
}
 
.navbar33-icon26 {
  text-decoration: none;
}
 
.navbar33-link7 {
  display: contents;
}
 
.navbar33-icon29 {
  text-decoration: none;
}
 
.navbar33-burger-menu {
  display: none;
}
 
.navbar33-icon31 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar33-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar33-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar33-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.navbar33-logo {
  height: 3rem;
}
 
.navbar33-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar33-icon33 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar33-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar33-icon-group2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
 
.info-fragment6 {
  display: contents;
}
 
.info-text6 {
  display: inline-block;
}
 
.info-fragment4 {
  display: contents;
}
 
.info-text4 {
  display: inline-block;
}
 
.info-fragment5 {
  display: contents;
}
 
.info-text5 {
  display: inline-block;
}
 
.info-fragment2 {
  display: contents;
}
 
.info-text2 {
  display: inline-block;
}
 
.info-fragment1 {
  display: contents;
}
 
.info-text1 {
  display: inline-block;
}
 
.info-fragment3 {
  display: contents;
}
 
.info-text3 {
  display: inline-block;
}

.detections-URL {
  
}
 
@media(max-width: 991px) {
  .navbar33-navbar-interactive {
    background-color: #DE7C5A;
  }
  .navbar33-text1 {
    align-self: center;
    text-align: left;
  }
}
 
@media(max-width: 767px) {
  .navbar33-navbar-interactive {
    width: 700px;
    height: var(--dl-size-size-small);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar33-text1 {
    font-size: 1.5em;
  }
  .navbar33-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .navbar33root-class-name {
    width: 700px;
    align-self: center;
  }
}
 
@media(max-width: 479px) {
  .navbar33-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar33-desktop-menu {
    display: none;
  }
  .navbar33-burger-menu {
    display: flex;
  }
  .navbar33-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.hero14-wrapper {
  display: contents;
}
 
.hero14-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.hero14-max-width {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
}
 
.hero14-column {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero14-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.hero14-text1 {
  text-align: left;
}
 
.hero14-text2 {
  text-align: left;
}
 
.hero14-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.info-fragment8 {
  display: contents;
}
 
.info-text8 {
  display: inline-block;
}
 
.info-fragment7 {
  display: contents;
}
 
.info-text7 {
  display: inline-block;
}
 

 
@media(max-width: 991px) {
  .hero14-max-width {
    flex-direction: column;
  }
  .hero14-text1 {
    text-align: center;
  }
  .hero14-text2 {
    text-align: center;
  }
  .hero14-actions {
    align-self: center;
    justify-content: flex-start;
  }
  .hero14root-class-name {
    fill: white;
    color: white;
  }
}
 
@media(max-width: 479px) {
  .hero14-actions {
    width: 100%;
    flex-direction: column;
  }
}

.info-container {
  width: 700px;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.info-fragment1 {
  display: contents;
}
 
.info-text1 {
  display: inline-block;
}
 
.info-fragment2 {
  display: contents;
}
 
.info-text2 {
  display: inline-block;
}
 
.info-fragment3 {
  display: contents;
}
 
.info-text3 {
  display: inline-block;
}
 
.info-fragment4 {
  display: contents;
}
 
.info-text4 {
  display: inline-block;
}
 
.info-fragment5 {
  display: contents;
}
 
.info-text5 {
  display: inline-block;
}
 
.info-fragment6 {
  display: contents;
}
 
.info-text6 {
  display: inline-block;
}
 
.info-fragment7 {
  display: contents;
}
 
.info-text7 {
  display: inline-block;
}
 
.info-fragment8 {
  display: contents;
}
 
.info-text8 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .info-container {
    background-color: #280000;
  }
}
